dataset/olist_customers_dataset.csv
dataset/olist_geolocation_dataset.csv
dataset/olist_order_items_dataset.csv
dataset/olist_order_payments_dataset.csv
dataset/olist_order_reviews_dataset.csv
dataset/olist_orders_dataset.csv
dataset/olist_products_dataset.csv
dataset/olist_sellers_dataset.csv
dataset/product_category_name_translation.csv
olist.db
src/__pycache__/*
tests/__pycache__/*
tests/testdb.db
